*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
}

#navbar{
    background-color: #333333;
    overflow: auto;
}
#navbar .container{
    margin: auto;
    max-width: 1100px;
    /* overflow: auto; */
}
nav .logo, nav a{
    color: white;
}

#navbar .logo , #navbar ul, nav ul li {
    display: inline;
}

/* nav .logo{
    margin-left: 200px ;
    margin-right: 650px;
} */

 #navbar h1 a{
float: left;
padding: 10px;
/* margin-left: 150px; */
}
#navbar ul{
    float: right;
    /* margin-right: 60px; */
}
#navbar ul li {
    float: left;
} 

#navbar ul li a{
    display: block;
    padding: 20px;
}

#navbar ul li.active a, li:hover a{
    background-color: #4F464B;
    color: #f7c08a;
}


.showcase{
    background: url('../image_resources/showcase.jpg');
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position:center center;
    text-align: center;
    color: white;
    padding: 200px;
}

.showcase h1{
    font-size: 60px;
    margin-bottom: 20px;
    
}
.showcase .showcase__paragraph{
    font-size: 20px;
    margin-bottom: 40px;
}

.text-primary{
    color: #f7c08a ;
}

.btn{
    color:white;
    font-size: 20px;
    background-color: #333333;
    padding: 14px 20px;
}

.btn:hover{
    color:#333333;
    background-color: #f7c08a ;
  
}

.btn-light{
    color: #333;
    background-color: white ;
}

.home-info{
    background-color: #333;
    color: white;
    height: 400px;
}
.home-info img{
    width: 50%;
    height: 400px;
}

.home-info div.content{
    display: inline-block;
    width: 49.6%;
    vertical-align: top;
    text-align: center;
    padding-top: 70px;
}

.home-info div.content h2{
margin-bottom: 30px;
}

.home-info div.content p{
    margin-bottom: 40px;
    line-height: 1.8em;
    font-size: 15.5px;
    }


.features .box{
    width: 33.3%;
    display: inline-block;
    /* float: left; */
    text-align: center;
    padding: 50px;
    background-color: #F4F4F4;
}
.features .box.bg-primary{
    background-color:#f7c08a ;
    }

.box i{
    margin-bottom: 15px;
}

.box h3{
    margin-bottom: 30px;
}

.box p{
    line-height: 1.5em;
}

.main-footer{
    padding: 35px;
    color:white;
    background-color: #444;
    text-align: center;
}

.about-info{
    padding: 30px 0px;
    background-color: #F4F4F4;
}

.about-info .about-info-container div{
    display: inline-block;
}

.about-info-container{
    width: 80%;
    margin: auto;
}

.about-info .about-info-container div{
width: 49%;
}

.about-info div.content{
    vertical-align:top;
}

.about-info div.content h1{
    font-size: 45px;
}

.about-info div.content p{
    padding-top: 10px;
    line-height: 1.5em;
    color: #333333;
}


.about-info .about-info-container div img{
    /* width: 300px;
    height: 300px; */
    width: 70%;

    border-radius: 50%;
    float: right;
}

.bg-primary{
    background-color: #f7c08a;
}

.testimonials{
    background-image: url('../image_resources/test-bg.jpg');
    background-size: cover;
    background-position: center center;
    padding:50px 0px;
}
.testimonials .container{
    margin: auto;
    width: 80%;
}


.testimonials .container h2{
    text-align: center;
    color: white;
    font-size: 40px;
}

.testimonial{
    background-color: #f7c08a;
    margin-top: 30px;
    padding: 20px;
    border-radius: 10px;
    color: #333333;
    opacity: .9;
    overflow: auto;
}

.testimonial img{
     width: 100px;
    border-radius: 50%;
    float:left;
    margin-right: 15px;
}

.testimonial p{
    margin-top: 17px;
}